---
import Features from '~/components/widgets/Features.astro';
import Features1 from '~/components/widgets/Features1.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

// const metadata = {
//   title: 'About us',
// };
---

<Layout>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="关于我们"
    image={{
      src: '~/assets/images/about.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      中数科数字产业集团 <br />
      <span class="text-accent dark:text-white highlight"> </span>
    </Fragment>

    <Fragment slot="subtitle"> 数字化互联网产业 </Fragment>
  </Hero>

  <Features1
    id="chanye"
    title="品牌故事"
    subtitle="中数科数字科技产业集团有限公司（简称中数科集团），创立于2015 年，是一家为各产业内的不同组织提供数字化组织发展解决方案，助力产业的组织效能最大化、劳动效率最大化、数据价值最大化、资源利用最大化、专业财税咨询、数字化转型咨询，并整合新一代信息技术，聚合资本、通道、技术、数据和服务，为客户提供一体化解决方案的集团公司。中数科集团总部位于北京，已为全国企业开通便捷服务通道，分别在上海、天津、重庆、广西壮族自治区、广东、河北、陕西、湖南、河南、海南等多地设立科技服务部。致力于通过数字化技术帮助企业申请政府优惠奖励政策，助力企业实现数字化转型、降低企业成本、增加企业竞争力；中数科集团以数字化产业园区、产业人才技能培训系统为基础，将新一代信息技术、系统还原技术、组织管理技术、财税规划技术、职业培训融汇于产业互联网平台中，聚合政策、经验、知识、通道、技术、数据、资源，为产业链上的企业、政府监管部门提供价值可量化的智力服务，是中国领先的产业互联网数字化共享经济供应商。"
  />

  <Features
  id="features"
  tagline=""
  title="企业文化"
  subtitle=""
  items={[
    {
      title: '使命',
      description: '赋能全球数字经济，助力数字效能最大化，组织人才效率最大化，实现数据价值最大化，资源利用最大化！',
      icon: 'tabler:brand-tailwind',
    },
    {
      title: '愿景',
      description:
        '为全国企业打造一个专业化、科技化、数字化、实质性的科技服务平台。促进企业加速创新融合，加速数字化科技成长！',
      icon: 'tabler:components',
    },
    {
      title: '价值',
      description: '以社会为己任，以用户为本位。促进企业加速创新融合，加速数字化科技成长！',
      icon: 'tabler:list-check',
    },

  ]}
/>

</Layout>
