---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import Features1 from '~/components/widgets/Features1.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
const title = '中数科数字产业集团';
const metadata = {
  title: title,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      // {
      //   variant: 'primary',
      //   text: 'Get template',
      //   href: 'https://github.com/onwidget/astrowind',
      //   target: '_blank',
      //   icon: 'tabler:download',
      // },image={{ src: '~/assets/images/chanye.png', alt: 'AstroWind Hero Image' }}
      // { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      <!-- Free template for <span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS -->
      {title}
    </Fragment>

    <Fragment slot="subtitle">
      <!-- <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs. -->
      中数科是一家集组织发展咨询、专业财税咨询、数字化转型咨询，并整合新一代信息技术，聚合税务咨询、财务票务、支付通道、技术、数据和服务，为客户提供一体化解决方案的集团公司。
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features1
    id="chanye"
    title="产业分布"
    image={{ src: '~/assets/images/chanye.png', alt: '产业分布', height: '460' }}
  />

  <!-- Content Widget **************** -->
  <Content
    title="业务背景"
    items={[
      {
        title: '社保由税务局征收，企业不合规缴纳的风险越来越大',
        description:
          '根据2023年《中国企业社保白皮书》统计，仅28.9%的企业能做到社保缴费基数完全合规。员工合同工资、实发工资、社保公积金基数和个税基数实现统一，企业未缴或不合规缴纳社保将面临越来越高的风险。',
      },
      {
        title: '金税四期正式上线，国家开启大数据强监管时代',
        description:
          '金税四期实现了“以数治税“，将“税费”全数据、全业务、全流程“云化”打通。企业数据信息将更为透明化，监控更加全面，同样也意味着，税务稽查将会更严、更精准、更全方位。',
      },
      {
        title: '税务、工商、社保、统计、银行国土等部门，共享纳税人的业务信息',
        description:
          '企业其他应收款占比过大，可能是高管借支绩效、股东借用公司资金、关联方之间资金借支等，会被认定为有推迟或漏缴个人所得税、增值税的风险；企业扣税类别突然出现大额异常，出现与主营业务无关的大额进项税额抵扣，以上情况均为金四系统风险扫描重点。金四系统自动预警，无需人工分析即可生成。',
      },
      {
        title: '个税汇算清缴时，个人未合规完税将触发自然人个税预警',
        description:
          '对自然人涉税数据进行全面归集，对纳税信息进行有效整合，连通对接更多的税源信息，加强个人所得税的征收管理。发票冲抵工资或其他费用都将面临涉税风险。',
      },
    ]}
    image={{
      src: '~/assets/images/yewubeijing.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Content
    isReversed
    title="企业痛点"
    items={[
      {
        title: '企业用工成本高',
        description:
          '企业存在临时性用工以及高收入人群，对于个人来说，意味着较高的个人所得税税负；对于企业来说，意味着较高的人工成本压力。',
      },
      {
        title: '无票支出风险大',
        description:
          '企业向个人购买服务或其他商务支出，无法正常取得增值税发票，致使业务实质无法真实体现，增加了企业的财务成本与合规风险。',
      },
      {
        title: '利润分红税负率高',
        description: '企业按照25%的税率缴纳企业所得税后，为股东分红需再缴纳20%的个人所得税，对于股东而言，税负率高。',
      },
      {
        title: '企业不合规纳税风险大',
        description:
          '劳动密集型或工资基数大的企业，随着社保入税，企业员工社保基数与员工工资保持一致，企业的社保成本将日愈加大。',
      },
    ]}
    image={{
      src: '~/assets/images/qiyetongdian.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Features1
    id="yonggong"
    title="用工区别"
    image={{ src: '~/assets/images/yonggong.png', alt: '用工区别', height: '400' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="产品优势"
    items={[
      {
        title: '安全',
        description:
          '100%合法合规;国家支持、政策支撑助企扶困、合情合理;信用兜底：专业机构审计和鉴证背书;财产兜底：有专门的责任保险进行兜底',
        icon: 'tabler:package',
      },
      {
        title: '稳定',
        description:
          '70+县区级税优地矩阵式供应;100+落地办税点分布式集群化;数字化办税，可同时为100万+自然人登记办税;36个专用银企直连通道，3套专用B2B2C多账户支付通道，可同时解决100万+企业多重公对公，公对私转账，并同时实现T+0秒级实时到账;64个不同业务外包主体、每个业务分流5000万+/月的资金，可同步实现多主体分流。多行业多类型分流。每月多主体、小额、多次处理超过36亿公转私经营收入结算',
        icon: 'tabler:letter-case',
      },
      {
        title: '有效',
        description:
          '可对初次使用的客户进行服务费后置;可对初次使用的客户进行效果对赌;提升净利润或降低成本可以具体数值量化',
        icon: 'tabler:paint',
      },
      {
        title: '省心',
        description:
          '每个企业由3人组成的专家项目团队3对1顾问服务;服务价值导入有专人;解决方案规划有专人;实施交付落地有专人;售后风控预防有专人',
        icon: 'tabler:check',
      },
      {
        title: '省事',
        description: '操作使用简单仅需10分钟培训即可完全学会;日常使用简单，预设置好之后，每次使用5分钟',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
